*{
padding: 0;
margin:0;
box-sizing: border-box;
}
:root {
    --pink: #d26efa;
    --backgroundcol: #ffffff;
}
body{
    
    background : linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
}

/* ---------------------------Add New task to todo list handler------------------------- */
#heading{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
}
.container{
    /* width: 50%;
    min-width: 450px;
    position: absolute; */
    /* transform: translate(-50%,-50%); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#newtask{
    background-color: var(--backgroundcol);
    padding: 2rem 1.2rem;
    border-radius: 5px;
    box-shadow: 0 15px 30px black;
    width: 70%;
}
 
#newtask input{
    width: 70%;
    height: 3rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    padding: 0.8rem;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newtask input:focus{
    outline:none;
    border-color: var(--pink);

}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--pink);
    border: none;
    color: var(--backgroundcol);
    cursor: pointer;
}

/* -----------------------Add/delete task to todo list----- */

#tasks{
    background-color: var(--backgroundcol);
    padding: 2rem 1.2rem;
    margin-top: 4rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0.5rem black;
    position: relative;
    width: 70%;
}

.task{
    background-color:var(--backgroundcol); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.7rem;
    margin: 1rem;
    border-bottom: 2px solid var(--pink);
    cursor: pointer;
    height: 2.5rem;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 400;

}
.task button{
    background-color: tomato;
    color: var(--backgroundcol);
    height: 100%;
    width: 2.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}

